/* 
 _base.scss - "_" significa que tá pedindo para o Sass não compilar,
 só será compilado se importar dentro do main.scss
*/

$text-color: orange;

@mixin box-shadow($color) {
    box-shadow: 3px 3px 4px 1px $color;
}

body{
    background-color: #7159c1;
    color: $text-color;
}

/*Encadeamento*/
.container {
    @include box-shadow(rgba(0,0,0,0.6));
    width: 200px;
    height: 200px;
    background-color: white;
    $text-color: blue;
    p {
        @include box-shadow(rgba(0,0,0,0.6));
        background-color: red;
        height: 100px;
        width: 100px;
        color: $text-color;
    }
}