// @for $i from 1 through 5 {
//     .text-#{$i} {
//         font-size: 15px * $i
//     }
// }

// @for $i from 1 to 5 {
//     .text-#{$i}{
//         font-size: 15px * $i
//     }
// }

//$colors: (blue, red, yellow);

@each $color in blue, red, yellow {
    .#{$color}-text { color: $color; }
}
