/* 
 _base.scss - "_" significa que tá pedindo para o Sass não compilar,
 só será compilado se importar dentro do main.scss
*/

$text-color: orange;

body{
    background-color: #7159c1;
    color: $text-color;
}

/*Encadeamento*/
.container {
    $text-color: blue;
    p {
        color: $text-color;
    }
}